/*
========================
SEZIONE VARIABILI
========================
*/

:root {
    --bgcolor: #0365ae;
    --txtcolor: #fff;
    --breadcrumbcolor: #163f77;
    --footercolor: #163f77;
    --newscolor: #f3c422;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --bordercolor: #000;
    --contentbgcolor: #fff;
    --linkcolor: #fff;
    --videtedcolor: #f3c422;
}

/*
========================
SEZIONE DOCUMENTO
========================
*/

* {
    padding: 0em;
    margin: 0em;
}

html,
body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    margin: auto;
    background-color: var(--bgcolor);
}

html {
    background-image: url(../materialePerStudenti/images/bg.png);
    background-size: contain;
}

#homepage {
    max-width: 1024px;
    border: 1px solid var(--bordercolor);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "h h h"
    "b b b"
    "m c a"
    "f f f";
}

body {
    max-width: 1024px;
    border: 1px solid var(--bordercolor);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "h h"
    "b b"
    "m c"
    "f f";
}

.bold {
    font-weight: bold;
}

/*
========================
SEZIONE HEADER
========================
*/

header {
    grid-area: h;
    text-align: center;
    padding: 1em;
    padding-top: 0.7em;
    margin: 0.7em;
    background: url("../materialePerStudenti/images/giannellipalleggio.jpg") right bottom no-repeat,
        url("../materialePerStudenti/images/michielettocoppa.jpg") left top no-repeat;
    background-size: 20%, 20%;
}

header h2 {
    margin-top: 1em;
    color: var(--txtcolor);
}

header h1 {
    background-image: url(../materialePerStudenti/images/logo_fipav.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999em;
    line-height: 1.5em;
    font-size: 6em;
}

/*
========================
SEZIONE BREADCRUMB
========================
*/

#breadcrumb {
    grid-area: b;
    background-color: var(--breadcrumbcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1em;
    border: 1px solid var(--bordercolor);
}

#breadcrumb a:link {
    color: var(--linkcolor);
}

#breadcrumb a:visited {
    color: var(--videtedcolor);
}

/*
========================
SEZIONE MENU
========================
*/

#menu {
    grid-area: m;
    font-size: 1.3em;
    margin-top: 1em;
    margin-left: 1em;
}

#menu > ul {
    list-style-type: none;
}

#menu li {
    margin: 0.5em 1em;
}

#menu a:link {
    color: var(--linkcolor);
}

#menu a:visited {
    color: var(--videtedcolor);
}

#currentLink {
    background-image: url("../materialePerStudenti/images/favpng_volleyball-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    padding-left: 1.5em;
    color: var(--txtcolor);
}

/*
========================
SEZIONE ASIDE
========================
*/

aside {
    grid-area: a;
    border: 1px solid var(--bordercolor);
    padding: 0.5em;
    overflow: hidden;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}

aside > h2 {
    background-color: var(--newscolor);
    color: var(--newstxtcolor);
    font-size: 1em;
    text-indent: 0.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

aside > dl {
    margin-left: 0.5em;
}

aside dt {
    font-weight: bold;
}

aside dd {
    margin-left: 5%;
}

/*
========================
SEZIONE MAIN
========================
*/

thead {
    background-color: #163f77;
    color: var(--txtcolor);
}

td, th {
    border: 1px solid;
}

main {
    grid-area: c;
    background-color: var(--contentbgcolor);
    padding: 1em 2.5em;
}

main > h1 {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
}

p {
    margin: 0.5em 0em;
}

main li {
    margin: 0.5em 2em;
}

#riconoscimenti-squadra {
    margin-left: 1em;
}

#riconoscimenti-squadra > dt {
    background-image: url("../materialePerStudenti/images/favpng_volleyball-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    text-indent: 1.5em;
}

#riconoscimenti-squadra dd {
    margin-left: 1.5em;
}

#squadra > li {
    list-style-type: none;
}

.giocatori > dt {
    background-color: var(--breadcrumbcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em;
    border: 1px solid var(--bordercolor);
}

.giocatori > dd img {
    width: 20%;
    float: left;
}

.giocatori > dd {
    border: 1px solid var(--bordercolor);
    border-top: none;
    padding: 0.5em;
}

.giocatore {
    margin-left: 25%;
}

.giocatore > dt {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

dt.riconoscimenti {
    float: none;
}

#allenatore {
    float: left;
}

/*
========================
SEZIONE FOOTER
========================
*/

footer {
    grid-area: f;
    background-color: var(--footercolor);
    color: var(--txtcolor);
    text-align: center;
}

footer > p {
    display: inline;
    font-style: italic;
    font-size: 0.8em;
    padding: 1em;
}

footer > img {
    padding: 0.5em;
    vertical-align: middle;
}
